<%= stylesheet_link_tag 'user', :media => "all" %>
<div class="profile">
  <div class="name">
    <%= image_tag @user.image_url, size: "130x130" if @user.image? %><br><br>
    <p>名前 : <%= @user.name %></p>
    <p>メール : <%= @user.email %></p>
    <p>プロフィール : <%= @user.profile %></p>
  </div>

  <div class="edit">
  <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
  <% end %>
  </div>

  <div class="stats">
    <%= render 'stats' %>
  </div>


  <div class="follow2">
    <%= render 'follow_form' %>
  </div>
  <div class="DM">
    <% if @user.id == current_user.id %>
        <p><%= @msg %><p>
    <% else %>
        <% if @isRoom == true %>
            <p><%= link_to 'DMへ', room_path(@roomId) %></p>
        <% else %>
            <%= form_for @room do |f| %>
                <%= fields_for @entry do |e|%>
                    <% e.hidden_field :user_id, value: @user.id %>
                <% end %>
            <%= f.submit "DMを開始する"%>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<br><br><br>



<div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">投稿</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">いいね</label>
    <div class="tab_content" id="all_content">
      <h2>投稿一覧</h2><br>
      <div class="toukouitirann">
        <% @user.songs.each do |t| %>
          <div class="song">
            <%= image_tag t.user.image_url, size: "40x40" if t.user.image? %>
            <%= link_to t.user.name, user_path(t.user.id) %><br>
            <p><%= t.music %><p>
            <p class="about5"><%= t.about %><p>
            <iframe width="384" height="216" src="https://www.youtube.com/embed/<%= find_youtube_url(t.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
            <%= link_to "詳細へ", song_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>
              <%= link_to "編集する", edit_song_path(t.id) %>
              <%= button_to "削除する", song_path(t.id), method: :delete %>
            <% end %> 
          </div>
        <% end %>
      </div> 
    
    </div>
    <div class="tab_content" id="programming_content">
      <h2>いいねした投稿一覧</h2><br>
      <div class="toukouitirann">
        <% @user.liked_songs.each do |t| %>
          <div class="song">
            <%= image_tag t.user.image_url, size: "40x40" if t.user.image? %>
            <%= link_to t.user.name, user_path(t.user.id) %><br>
            <p><%= t.music %><p>
            <p class="about5"><%= t.about %><p>
            <iframe width="384" height="216" src="https://www.youtube.com/embed/<%= find_youtube_url(t.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
            <%= link_to "詳細へ", song_path(t.id) %>
          </div>
        <% end %>
      </div>
    </div> 
</div>
